<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_7_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,626},{242,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,280}}</string>
                <key>sourceSize</key>
                <string>{242,280}</string>
            </dict>
            <key>boss_7_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,940},{242,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,281}}</string>
                <key>sourceSize</key>
                <string>{242,281}</string>
            </dict>
            <key>boss_7_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1229},{242,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,283}}</string>
                <key>sourceSize</key>
                <string>{242,283}</string>
            </dict>
            <key>boss_7_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1837},{107,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,206}}</string>
                <key>sourceSize</key>
                <string>{107,206}</string>
            </dict>
            <key>boss_7_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,626},{242,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,280}}</string>
                <key>sourceSize</key>
                <string>{242,280}</string>
            </dict>
            <key>boss_7_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1551},{241,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,284}}</string>
                <key>sourceSize</key>
                <string>{241,284}</string>
            </dict>
            <key>boss_7_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1258},{241,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,291}}</string>
                <key>sourceSize</key>
                <string>{241,291}</string>
            </dict>
            <key>boss_7_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,940},{243,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,287}}</string>
                <key>sourceSize</key>
                <string>{243,287}</string>
            </dict>
            <key>boss_8_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,943},{257,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,313}}</string>
                <key>sourceSize</key>
                <string>{257,313}</string>
            </dict>
            <key>boss_8_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,626},{250,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,315}}</string>
                <key>sourceSize</key>
                <string>{250,315}</string>
            </dict>
            <key>boss_8_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{311,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,313}}</string>
                <key>sourceSize</key>
                <string>{311,313}</string>
            </dict>
            <key>boss_8_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{390,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,301}}</string>
                <key>sourceSize</key>
                <string>{390,301}</string>
            </dict>
            <key>boss_8_a_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,504},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>boss_8_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,943},{257,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,313}}</string>
                <key>sourceSize</key>
                <string>{257,313}</string>
            </dict>
            <key>boss_8_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{281,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,316}}</string>
                <key>sourceSize</key>
                <string>{281,316}</string>
            </dict>
            <key>boss_8_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{276,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,317}}</string>
                <key>sourceSize</key>
                <string>{276,317}</string>
            </dict>
            <key>boss_8_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,626},{305,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,312}}</string>
                <key>sourceSize</key>
                <string>{305,312}</string>
            </dict>
            <key>ch_s10_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1837},{134,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,196}}</string>
                <key>sourceSize</key>
                <string>{134,196}</string>
            </dict>
            <key>ch_s10_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1881},{185,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,158}}</string>
                <key>sourceSize</key>
                <string>{185,158}</string>
            </dict>
            <key>ch_s10_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1835},{125,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,183}}</string>
                <key>sourceSize</key>
                <string>{125,183}</string>
            </dict>
            <key>ch_s10_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1837},{134,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,196}}</string>
                <key>sourceSize</key>
                <string>{134,196}</string>
            </dict>
            <key>ch_s10_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1832},{170,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>ch_s10_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1514},{148,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,191}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>ch_s10_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1514},{156,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{156,186}</string>
            </dict>
            <key>ch_s1_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1404},{73,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,106}}</string>
                <key>sourceSize</key>
                <string>{73,106}</string>
            </dict>
            <key>ch_s1_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1404},{75,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,108}}</string>
                <key>sourceSize</key>
                <string>{75,108}</string>
            </dict>
            <key>ch_s1_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,271},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,104}</string>
            </dict>
            <key>ch_s1_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1404},{73,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,106}}</string>
                <key>sourceSize</key>
                <string>{73,106}</string>
            </dict>
            <key>ch_s1_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,504},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,109}</string>
            </dict>
            <key>ch_s1_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1404},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,106}}</string>
                <key>sourceSize</key>
                <string>{82,106}</string>
            </dict>
            <key>ch_s1_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,504},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>ch_s2_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1702},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ch_s2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1692},{150,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,138}</string>
            </dict>
            <key>ch_s2_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1640},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>ch_s2_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1768},{192,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,121}}</string>
                <key>sourceSize</key>
                <string>{192,121}</string>
            </dict>
            <key>ch_s2_a_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1977},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ch_s2_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1702},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ch_s2_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1692},{127,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,138}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>ch_s2_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1503},{129,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,135}}</string>
                <key>sourceSize</key>
                <string>{129,135}</string>
            </dict>
            <key>ch_s2_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,504},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>ch_s3_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,504},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>ch_s3_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,504},{86,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,109}}</string>
                <key>sourceSize</key>
                <string>{86,109}</string>
            </dict>
            <key>ch_s3_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,504},{85,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,117}}</string>
                <key>sourceSize</key>
                <string>{85,117}</string>
            </dict>
            <key>ch_s3_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,504},{85,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>ch_s3_a_hulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1977},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>ch_s3_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,504},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>ch_s3_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,504},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>ch_s3_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{86,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,120}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
            <key>ch_s3_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,504},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>ch_s4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1686},{126,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,138}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>ch_s4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{117,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,148}}</string>
                <key>sourceSize</key>
                <string>{117,148}</string>
            </dict>
            <key>ch_s4_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1826},{105,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,149}}</string>
                <key>sourceSize</key>
                <string>{105,149}</string>
            </dict>
            <key>ch_s4_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1881},{133,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,151}}</string>
                <key>sourceSize</key>
                <string>{133,151}</string>
            </dict>
            <key>ch_s4_a_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1837},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>ch_s4_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1686},{126,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,138}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>ch_s4_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,908},{101,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,148}}</string>
                <key>sourceSize</key>
                <string>{101,148}</string>
            </dict>
            <key>ch_s5_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1832},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>ch_s5_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1223},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>ch_s5_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1512},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>ch_s5_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1832},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>ch_s5_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1834},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>ch_s5_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1223},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>ch_s5_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1510},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>ch_s6_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1207},{110,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,147}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>ch_s6_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1356},{154,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,145}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>ch_s6_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1707},{177,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,126}}</string>
                <key>sourceSize</key>
                <string>{177,126}</string>
            </dict>
            <key>ch_s6_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1058},{110,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,147}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>ch_s6_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1881},{124,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,163}}</string>
                <key>sourceSize</key>
                <string>{124,163}</string>
            </dict>
            <key>ch_s7_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1891},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ch_s7_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,377},{112,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>ch_s7_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,152},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>ch_s7_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1891},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ch_s7_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,504},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>ch_s7_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1891},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ch_s7_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,503},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ch_s8_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,504},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>ch_s8_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,595},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>ch_s8_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,583},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>ch_s8_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,504},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>ch_s8_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,504},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>ch_s8_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,581},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ch_s8_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,657},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>ch_s8_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,607},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>ch_s9_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,504},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>ch_s9_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1403},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>ch_s9_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,504},{123,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,89}}</string>
                <key>sourceSize</key>
                <string>{123,89}</string>
            </dict>
            <key>ch_s9_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,504},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>ch_s9_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,606},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>ch_s9_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1403},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ch_s9_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,504},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>cn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,500}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,500}}</string>
                <key>sourceSize</key>
                <string>{1920,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cn.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:435903fd49d20b6093c6d53c64395cca:a4acdbba9b1070a48ccea208c537f061:539718eef93e8b3be8c6baab313801c1$</string>
            <key>textureFileName</key>
            <string>cn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
