<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_10_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,874},{325,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,303}}</string>
                <key>sourceSize</key>
                <string>{325,303}</string>
            </dict>
            <key>boss_10_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,560},{348,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,312}}</string>
                <key>sourceSize</key>
                <string>{348,312}</string>
            </dict>
            <key>boss_10_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1558},{358,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,304}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>boss_10_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1237},{395,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,319}}</string>
                <key>sourceSize</key>
                <string>{395,319}</string>
            </dict>
            <key>boss_10_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,874},{325,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,303}}</string>
                <key>sourceSize</key>
                <string>{325,303}</string>
            </dict>
            <key>boss_10_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,896},{339,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,313}}</string>
                <key>sourceSize</key>
                <string>{339,313}</string>
            </dict>
            <key>boss_10_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{339,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,327}}</string>
                <key>sourceSize</key>
                <string>{339,327}</string>
            </dict>
            <key>boss_9_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{277,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,338}}</string>
                <key>sourceSize</key>
                <string>{277,338}</string>
            </dict>
            <key>boss_9_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{282,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,336}}</string>
                <key>sourceSize</key>
                <string>{282,336}</string>
            </dict>
            <key>boss_9_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1211},{269,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,304}}</string>
                <key>sourceSize</key>
                <string>{269,304}</string>
            </dict>
            <key>boss_9_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1558},{269,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,305}}</string>
                <key>sourceSize</key>
                <string>{269,305}</string>
            </dict>
            <key>boss_9_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{277,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,338}}</string>
                <key>sourceSize</key>
                <string>{277,338}</string>
            </dict>
            <key>boss_9_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,900},{275,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,335}}</string>
                <key>sourceSize</key>
                <string>{275,335}</string>
            </dict>
            <key>boss_9_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{275,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,338}}</string>
                <key>sourceSize</key>
                <string>{275,338}</string>
            </dict>
            <key>boss_9_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,560},{274,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,334}}</string>
                <key>sourceSize</key>
                <string>{274,334}</string>
            </dict>
            <key>evil_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,500}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,500}}</string>
                <key>sourceSize</key>
                <string>{1920,640}</string>
            </dict>
            <key>xie_s10_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,560},{105,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,168}}</string>
                <key>sourceSize</key>
                <string>{105,168}</string>
            </dict>
            <key>xie_s10_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,383},{116,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,175}}</string>
                <key>sourceSize</key>
                <string>{116,175}</string>
            </dict>
            <key>xie_s10_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1865},{105,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,177}}</string>
                <key>sourceSize</key>
                <string>{105,177}</string>
            </dict>
            <key>xie_s10_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{121,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,164}}</string>
                <key>sourceSize</key>
                <string>{121,164}</string>
            </dict>
            <key>xie_s10_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,560},{105,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,168}}</string>
                <key>sourceSize</key>
                <string>{105,168}</string>
            </dict>
            <key>xie_s10_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1864},{105,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,171}}</string>
                <key>sourceSize</key>
                <string>{105,171}</string>
            </dict>
            <key>xie_s10_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1865},{105,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,172}}</string>
                <key>sourceSize</key>
                <string>{105,172}</string>
            </dict>
            <key>xie_s10_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1864},{105,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,171}}</string>
                <key>sourceSize</key>
                <string>{105,171}</string>
            </dict>
            <key>xie_s1_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1350},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>xie_s1_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1348},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,109}</string>
            </dict>
            <key>xie_s1_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1154},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>xie_s1_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1252},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>xie_s1_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1350},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>xie_s1_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1249},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>xie_s1_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1249},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>xie_s1_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1364},{75,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,108}}</string>
                <key>sourceSize</key>
                <string>{75,108}</string>
            </dict>
            <key>xie_s2_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1455},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>xie_s2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1236},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>xie_s2_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1139},{101,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{101,111}</string>
            </dict>
            <key>xie_s2_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1179},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>xie_s2_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1455},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>xie_s2_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1236},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>xie_s2_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1336},{77,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,110}}</string>
                <key>sourceSize</key>
                <string>{77,110}</string>
            </dict>
            <key>xie_s2_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1252},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>xie_s3_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1101},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>xie_s3_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,650},{151,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,145}}</string>
                <key>sourceSize</key>
                <string>{151,145}</string>
            </dict>
            <key>xie_s3_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,949},{173,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{173,150}</string>
            </dict>
            <key>xie_s3_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,807},{191,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,140}}</string>
                <key>sourceSize</key>
                <string>{191,140}</string>
            </dict>
            <key>xie_s3_a_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>xie_s3_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1101},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>xie_s3_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,504},{154,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,144}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
            <key>xie_s3_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1079},{157,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,155}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>xie_s3_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,726},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>xie_s4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,168},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>xie_s4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1907},{123,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,114}}</string>
                <key>sourceSize</key>
                <string>{123,114}</string>
            </dict>
            <key>xie_s4_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,280},{119,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,101}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
            <key>xie_s4_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,168},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>xie_s4_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,874},{133,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{133,109}</string>
            </dict>
            <key>xie_s4_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,710},{125,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,108}}</string>
                <key>sourceSize</key>
                <string>{125,108}</string>
            </dict>
            <key>xie_s4_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,948},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>xie_s5_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1907},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>xie_s5_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1907},{168,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,129}}</string>
                <key>sourceSize</key>
                <string>{168,129}</string>
            </dict>
            <key>xie_s5_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1907},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>xie_s6_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,985},{127,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,152}}</string>
                <key>sourceSize</key>
                <string>{127,152}</string>
            </dict>
            <key>xie_s6_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,730},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>xie_s6_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,973},{162,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,145}}</string>
                <key>sourceSize</key>
                <string>{162,145}</string>
            </dict>
            <key>xie_s6_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,985},{127,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,152}}</string>
                <key>sourceSize</key>
                <string>{127,152}</string>
            </dict>
            <key>xie_s6_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,560},{107,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,148}}</string>
                <key>sourceSize</key>
                <string>{107,148}</string>
            </dict>
            <key>xie_s6_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,820},{129,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,151}}</string>
                <key>sourceSize</key>
                <string>{129,151}</string>
            </dict>
            <key>xie_s6_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,797},{130,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,149}}</string>
                <key>sourceSize</key>
                <string>{130,149}</string>
            </dict>
            <key>xie_s7_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1448},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>xie_s7_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1466},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>xie_s7_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1179},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>xie_s7_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1260},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>xie_s7_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1448},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>xie_s7_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1292},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>xie_s7_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1154},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>xie_s7_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1372},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>xie_s8_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,981},{161,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,96}}</string>
                <key>sourceSize</key>
                <string>{161,96}</string>
            </dict>
            <key>xie_s8_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,1120},{161,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,96}}</string>
                <key>sourceSize</key>
                <string>{161,96}</string>
            </dict>
            <key>xie_s8_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1056},{161,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,96}}</string>
                <key>sourceSize</key>
                <string>{161,96}</string>
            </dict>
            <key>xie_s8_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,883},{174,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,96}}</string>
                <key>sourceSize</key>
                <string>{174,96}</string>
            </dict>
            <key>xie_s8_a_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>xie_s8_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,981},{161,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,96}}</string>
                <key>sourceSize</key>
                <string>{161,96}</string>
            </dict>
            <key>xie_s8_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,768},{165,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,97}}</string>
                <key>sourceSize</key>
                <string>{165,97}</string>
            </dict>
            <key>xie_s9_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1864},{181,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,169}}</string>
                <key>sourceSize</key>
                <string>{181,169}</string>
            </dict>
            <key>xie_s9_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,560},{174,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,164}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>xie_s9_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,560},{210,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,163}}</string>
                <key>sourceSize</key>
                <string>{210,163}</string>
            </dict>
            <key>xie_s9_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,725},{175,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,156}}</string>
                <key>sourceSize</key>
                <string>{175,156}</string>
            </dict>
            <key>xie_s9_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1864},{181,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,169}}</string>
                <key>sourceSize</key>
                <string>{181,169}</string>
            </dict>
            <key>xie_s9_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,654},{198,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,151}}</string>
                <key>sourceSize</key>
                <string>{198,151}</string>
            </dict>
            <key>xie_s9_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,560},{160,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,206}}</string>
                <key>sourceSize</key>
                <string>{160,206}</string>
            </dict>
            <key>xie_s9_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,504},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evil.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f70b2c552695ef8dd6a943e04fa11eb:6e1892c593b1b92a78414daf7e932c90:938aa11090a43603257d4e80b05f7b92$</string>
            <key>textureFileName</key>
            <string>evil.pvr.ccz</string>
        </dict>
    </dict>
</plist>
