<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
  <dict>
    <key>hp</key>
    <integer>3300</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>2</key>
  <dict>
    <key>hp</key>
    <integer>3550</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>3</key>
  <dict>
    <key>hp</key>
    <integer>3610</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>4</key>
  <dict>
    <key>hp</key>
    <integer>3670</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>5</key>
  <dict>
    <key>hp</key>
    <integer>3970</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>6</key>
  <dict>
    <key>hp</key>
    <integer>5520</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>7</key>
  <dict>
    <key>hp</key>
    <integer>6480</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>8</key>
  <dict>
    <key>hp</key>
    <integer>7080</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>9</key>
  <dict>
    <key>hp</key>
    <integer>7680</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>10</key>
  <dict>
    <key>hp</key>
    <integer>8280</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>11</key>
  <dict>
    <key>hp</key>
    <integer>8880</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>12</key>
  <dict>
    <key>hp</key>
    <integer>8040</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>13</key>
  <dict>
    <key>hp</key>
    <integer>14300</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>14</key>
  <dict>
    <key>hp</key>
    <integer>14900</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>15</key>
  <dict>
    <key>hp</key>
    <integer>15150</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>16</key>
  <dict>
    <key>hp</key>
    <integer>15750</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>17</key>
  <dict>
    <key>hp</key>
    <integer>16350</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>18</key>
  <dict>
    <key>hp</key>
    <integer>14450</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>19</key>
  <dict>
    <key>hp</key>
    <integer>12920</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>20</key>
  <dict>
    <key>hp</key>
    <integer>12980</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>21</key>
  <dict>
    <key>hp</key>
    <integer>13580</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>22</key>
  <dict>
    <key>hp</key>
    <integer>13640</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>23</key>
  <dict>
    <key>hp</key>
    <integer>13700</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>24</key>
  <dict>
    <key>hp</key>
    <integer>12480</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>25</key>
  <dict>
    <key>hp</key>
    <integer>7920</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>26</key>
  <dict>
    <key>hp</key>
    <integer>8520</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>27</key>
  <dict>
    <key>hp</key>
    <integer>8664</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>28</key>
  <dict>
    <key>hp</key>
    <integer>8808</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>29</key>
  <dict>
    <key>hp</key>
    <integer>9528</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>30</key>
  <dict>
    <key>hp</key>
    <integer>13248</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>31</key>
  <dict>
    <key>hp</key>
    <integer>15552</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>32</key>
  <dict>
    <key>hp</key>
    <integer>16992</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>33</key>
  <dict>
    <key>hp</key>
    <integer>18432</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>34</key>
  <dict>
    <key>hp</key>
    <integer>19872</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>35</key>
  <dict>
    <key>hp</key>
    <integer>21312</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>36</key>
  <dict>
    <key>hp</key>
    <integer>19296</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>37</key>
  <dict>
    <key>hp</key>
    <integer>34320</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>38</key>
  <dict>
    <key>hp</key>
    <integer>35760</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>39</key>
  <dict>
    <key>hp</key>
    <integer>36360</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>40</key>
  <dict>
    <key>hp</key>
    <integer>37800</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>41</key>
  <dict>
    <key>hp</key>
    <integer>39240</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>42</key>
  <dict>
    <key>hp</key>
    <integer>34680</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>43</key>
  <dict>
    <key>hp</key>
    <integer>31008</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>44</key>
  <dict>
    <key>hp</key>
    <integer>31152</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>45</key>
  <dict>
    <key>hp</key>
    <integer>32592</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>46</key>
  <dict>
    <key>hp</key>
    <integer>32736</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>47</key>
  <dict>
    <key>hp</key>
    <integer>32880</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>48</key>
  <dict>
    <key>hp</key>
    <integer>29952</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>49</key>
  <dict>
    <key>hp</key>
    <integer>12540</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>50</key>
  <dict>
    <key>hp</key>
    <integer>13490</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>51</key>
  <dict>
    <key>hp</key>
    <integer>13718</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>52</key>
  <dict>
    <key>hp</key>
    <integer>13946</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>53</key>
  <dict>
    <key>hp</key>
    <integer>15086</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>54</key>
  <dict>
    <key>hp</key>
    <integer>20976</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>55</key>
  <dict>
    <key>hp</key>
    <integer>24624</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>56</key>
  <dict>
    <key>hp</key>
    <integer>26904</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>57</key>
  <dict>
    <key>hp</key>
    <integer>29184</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>58</key>
  <dict>
    <key>hp</key>
    <integer>31464</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>59</key>
  <dict>
    <key>hp</key>
    <integer>33744</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>60</key>
  <dict>
    <key>hp</key>
    <integer>30552</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>61</key>
  <dict>
    <key>hp</key>
    <integer>54340</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>62</key>
  <dict>
    <key>hp</key>
    <integer>56620</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>63</key>
  <dict>
    <key>hp</key>
    <integer>57570</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>64</key>
  <dict>
    <key>hp</key>
    <integer>59850</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>65</key>
  <dict>
    <key>hp</key>
    <integer>62130</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>66</key>
  <dict>
    <key>hp</key>
    <integer>54910</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>67</key>
  <dict>
    <key>hp</key>
    <integer>49096</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>68</key>
  <dict>
    <key>hp</key>
    <integer>49324</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>69</key>
  <dict>
    <key>hp</key>
    <integer>51604</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>70</key>
  <dict>
    <key>hp</key>
    <integer>51832</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>71</key>
  <dict>
    <key>hp</key>
    <integer>52060</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>72</key>
  <dict>
    <key>hp</key>
    <integer>47424</integer>
    <key>enemies</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>73</key>
  <dict>
    <key>hp</key>
    <integer>17160</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>74</key>
  <dict>
    <key>hp</key>
    <integer>18460</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>75</key>
  <dict>
    <key>hp</key>
    <integer>18772</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>76</key>
  <dict>
    <key>hp</key>
    <integer>19084</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>77</key>
  <dict>
    <key>hp</key>
    <integer>20644</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>78</key>
  <dict>
    <key>hp</key>
    <integer>28704</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>79</key>
  <dict>
    <key>hp</key>
    <integer>33696</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>80</key>
  <dict>
    <key>hp</key>
    <integer>36816</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>81</key>
  <dict>
    <key>hp</key>
    <integer>39936</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>82</key>
  <dict>
    <key>hp</key>
    <integer>43056</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>83</key>
  <dict>
    <key>hp</key>
    <integer>46176</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>84</key>
  <dict>
    <key>hp</key>
    <integer>41808</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>85</key>
  <dict>
    <key>hp</key>
    <integer>74360</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>86</key>
  <dict>
    <key>hp</key>
    <integer>77480</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>87</key>
  <dict>
    <key>hp</key>
    <integer>78780</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>88</key>
  <dict>
    <key>hp</key>
    <integer>81900</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>89</key>
  <dict>
    <key>hp</key>
    <integer>85020</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>90</key>
  <dict>
    <key>hp</key>
    <integer>75140</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>91</key>
  <dict>
    <key>hp</key>
    <integer>67184</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>92</key>
  <dict>
    <key>hp</key>
    <integer>67496</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>93</key>
  <dict>
    <key>hp</key>
    <integer>70616</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>94</key>
  <dict>
    <key>hp</key>
    <integer>70928</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>95</key>
  <dict>
    <key>hp</key>
    <integer>71240</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>96</key>
  <dict>
    <key>hp</key>
    <integer>64896</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>97</key>
  <dict>
    <key>hp</key>
    <integer>21780</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>98</key>
  <dict>
    <key>hp</key>
    <integer>23430</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>99</key>
  <dict>
    <key>hp</key>
    <integer>23826</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>100</key>
  <dict>
    <key>hp</key>
    <integer>24222</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>101</key>
  <dict>
    <key>hp</key>
    <integer>26202</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>102</key>
  <dict>
    <key>hp</key>
    <integer>36432</integer>
    <key>enemies</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>103</key>
  <dict>
    <key>hp</key>
    <integer>42768</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>104</key>
  <dict>
    <key>hp</key>
    <integer>46728</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
  </dict>
	<key>105</key>
  <dict>
    <key>hp</key>
    <integer>50688</integer>
    <key>enemies</key>
	<array>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>106</key>
  <dict>
    <key>hp</key>
    <integer>54648</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>107</key>
  <dict>
    <key>hp</key>
    <integer>58608</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>108</key>
  <dict>
    <key>hp</key>
    <integer>53064</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>109</key>
  <dict>
    <key>hp</key>
    <integer>94380</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>110</key>
  <dict>
    <key>hp</key>
    <integer>98340</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
	</array>
  </dict>
	<key>111</key>
  <dict>
    <key>hp</key>
    <integer>99990</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>112</key>
  <dict>
    <key>hp</key>
    <integer>103950</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>113</key>
  <dict>
    <key>hp</key>
    <integer>107910</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>114</key>
  <dict>
    <key>hp</key>
    <integer>95370</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
	</array>
  </dict>
	<key>115</key>
  <dict>
    <key>hp</key>
    <integer>85272</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>116</key>
  <dict>
    <key>hp</key>
    <integer>85668</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>117</key>
  <dict>
    <key>hp</key>
    <integer>89628</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>118</key>
  <dict>
    <key>hp</key>
    <integer>90024</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>119</key>
  <dict>
    <key>hp</key>
    <integer>90420</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
	</array>
  </dict>
	<key>120</key>
  <dict>
    <key>hp</key>
    <integer>82368</integer>
    <key>enemies</key>
	<array>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
	</array>
  </dict>
</dict>
</plist>
