<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,938},{321,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,284}}</string>
                <key>sourceSize</key>
                <string>{321,284}</string>
            </dict>
            <key>boss_1_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{343,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,282}}</string>
                <key>sourceSize</key>
                <string>{343,282}</string>
            </dict>
            <key>boss_1_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{383,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,279}}</string>
                <key>sourceSize</key>
                <string>{383,279}</string>
            </dict>
            <key>boss_1_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,554},{325,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,252}}</string>
                <key>sourceSize</key>
                <string>{325,252}</string>
            </dict>
            <key>boss_1_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,938},{321,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,284}}</string>
                <key>sourceSize</key>
                <string>{321,284}</string>
            </dict>
            <key>boss_1_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{323,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,289}}</string>
                <key>sourceSize</key>
                <string>{323,289}</string>
            </dict>
            <key>boss_1_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,554},{319,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,276}}</string>
                <key>sourceSize</key>
                <string>{319,276}</string>
            </dict>
            <key>boss_1_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{311,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,281}}</string>
                <key>sourceSize</key>
                <string>{311,281}</string>
            </dict>
            <key>jap_s10_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1787},{89,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,122}}</string>
                <key>sourceSize</key>
                <string>{89,122}</string>
            </dict>
            <key>jap_s10_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1582},{91,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,119}}</string>
                <key>sourceSize</key>
                <string>{91,119}</string>
            </dict>
            <key>jap_s10_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1196},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>jap_s10_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1787},{89,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,122}}</string>
                <key>sourceSize</key>
                <string>{89,122}</string>
            </dict>
            <key>jap_s10_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1384},{89,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,120}}</string>
                <key>sourceSize</key>
                <string>{89,120}</string>
            </dict>
            <key>jap_s10_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,463},{89,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,122}}</string>
                <key>sourceSize</key>
                <string>{89,122}</string>
            </dict>
            <key>jap_s10_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,728},{89,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,120}}</string>
                <key>sourceSize</key>
                <string>{89,120}</string>
            </dict>
            <key>jap_s1_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1417},{151,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,175}}</string>
                <key>sourceSize</key>
                <string>{151,175}</string>
            </dict>
            <key>jap_s1_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1239},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>jap_s1_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1058},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>jap_s1_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1609},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>jap_s1_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1417},{151,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,175}}</string>
                <key>sourceSize</key>
                <string>{151,175}</string>
            </dict>
            <key>jap_s1_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1910},{120,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,174}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>jap_s1_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,554},{138,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,174}}</string>
                <key>sourceSize</key>
                <string>{138,174}</string>
            </dict>
            <key>jap_s1_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1609},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>jap_s2_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,729},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>jap_s2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1031},{94,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,112}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>jap_s2_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1811},{169,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,100}}</string>
                <key>sourceSize</key>
                <string>{169,100}</string>
            </dict>
            <key>jap_s2_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,729},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>jap_s2_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1810},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>jap_s2_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,728},{139,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,95}}</string>
                <key>sourceSize</key>
                <string>{139,95}</string>
            </dict>
            <key>jap_s2_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1770},{120,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{120,99}</string>
            </dict>
            <key>jap_s3_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1609},{200,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,131}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>jap_s3_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1261},{201,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,135}}</string>
                <key>sourceSize</key>
                <string>{201,135}</string>
            </dict>
            <key>jap_s3_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1912},{199,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,134}}</string>
                <key>sourceSize</key>
                <string>{199,134}</string>
            </dict>
            <key>jap_s3_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1259},{189,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,134}}</string>
                <key>sourceSize</key>
                <string>{189,134}</string>
            </dict>
            <key>jap_s3_a_snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1835},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>jap_s3_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1609},{200,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,131}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>jap_s3_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1915},{201,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,131}}</string>
                <key>sourceSize</key>
                <string>{201,131}</string>
            </dict>
            <key>jap_s3_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1609},{199,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,134}}</string>
                <key>sourceSize</key>
                <string>{199,134}</string>
            </dict>
            <key>jap_s3_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1068},{189,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,137}}</string>
                <key>sourceSize</key>
                <string>{189,137}</string>
            </dict>
            <key>jap_s4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1835},{77,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>jap_s4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1506},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>jap_s4_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1703},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>jap_s4_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1835},{77,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>jap_s4_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1809},{75,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,97}}</string>
                <key>sourceSize</key>
                <string>{75,97}</string>
            </dict>
            <key>jap_s4_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1505},{75,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>jap_s4_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1886},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,99}}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
            <key>jap_s5_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,715},{150,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>jap_s5_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,729},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>jap_s5_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1594},{174,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>jap_s5_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,871},{161,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>jap_s5_a_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,881},{55,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,138}}</string>
                <key>sourceSize</key>
                <string>{55,138}</string>
            </dict>
            <key>jap_s5_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,715},{150,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>jap_s5_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1464},{172,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>jap_s5_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,554},{159,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,145}}</string>
                <key>sourceSize</key>
                <string>{159,145}</string>
            </dict>
            <key>jap_s5_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,730},{142,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,143}}</string>
                <key>sourceSize</key>
                <string>{142,143}</string>
            </dict>
            <key>jap_s6_a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1913},{157,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,127}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>jap_s6_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1450},{157,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,162}}</string>
                <key>sourceSize</key>
                <string>{157,162}</string>
            </dict>
            <key>jap_s6_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,875},{191,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>jap_s6_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1261},{218,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,142}}</string>
                <key>sourceSize</key>
                <string>{218,142}</string>
            </dict>
            <key>jap_s6_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,875},{181,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,160}}</string>
                <key>sourceSize</key>
                <string>{181,160}</string>
            </dict>
            <key>jap_s6_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1913},{157,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,127}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>jap_s6_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1922},{157,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,123}}</string>
                <key>sourceSize</key>
                <string>{157,123}</string>
            </dict>
            <key>jap_s6_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{157,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,124}}</string>
                <key>sourceSize</key>
                <string>{157,124}</string>
            </dict>
            <key>jap_s6_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1481},{157,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,126}}</string>
                <key>sourceSize</key>
                <string>{157,126}</string>
            </dict>
            <key>jap_s7_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,234},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>jap_s7_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1787},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>jap_s7_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1384},{119,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>jap_s7_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1909},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>jap_s7_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,234},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>jap_s7_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,349},{122,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,112}}</string>
                <key>sourceSize</key>
                <string>{122,112}</string>
            </dict>
            <key>jap_s7_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,119},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>jap_s7_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{122,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{122,115}</string>
            </dict>
            <key>jap_s8_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,869},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>jap_s8_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1034},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>jap_s8_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1222},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>jap_s8_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1259},{188,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,160}}</string>
                <key>sourceSize</key>
                <string>{188,160}</string>
            </dict>
            <key>jap_s8_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1609},{224,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,160}}</string>
                <key>sourceSize</key>
                <string>{224,160}</string>
            </dict>
            <key>jap_s8_a_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1145},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>jap_s8_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,869},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>jap_s8_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,554},{154,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,159}}</string>
                <key>sourceSize</key>
                <string>{154,159}</string>
            </dict>
            <key>jap_s8_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1892},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>jap_s8_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1449},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>jap_s9_a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,554},{173,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,115}}</string>
                <key>sourceSize</key>
                <string>{173,115}</string>
            </dict>
            <key>jap_s9_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1048},{172,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,115}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>jap_s9_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,554},{172,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,115}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>jap_s9_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1787},{172,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,121}}</string>
                <key>sourceSize</key>
                <string>{172,121}</string>
            </dict>
            <key>jap_s9_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1068},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>jap_s9_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,554},{173,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,115}}</string>
                <key>sourceSize</key>
                <string>{173,115}</string>
            </dict>
            <key>jap_s9_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,554},{172,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,115}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>jap_s9_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,874},{172,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,115}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>jap_s9_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,875},{172,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,115}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>ri_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,500}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,500}}</string>
                <key>sourceSize</key>
                <string>{1920,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ri.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da151bce1cd0b63acefb6d7406d542e5$</string>
            <key>textureFileName</key>
            <string>ri.pvr.ccz</string>
        </dict>
    </dict>
</plist>
