<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<string>0</string>
	<key>story_00</key>
	<string>很</string>
	<key>story_01</key>
	<string>很久</string>
	<key>story_02</key>
	<string>很久很</string>
	<key>story_03</key>
	<string>很久很久</string>
	<key>story_04</key>
	<string>很久很久以</string>
	<key>story_05</key>
	<string>很久很久以前</string>
	<key>story_06</key>
	<string>很久很久以前，</string>
	<key>story_07</key>
	<string>很久很久以前，这</string>
	<key>story_08</key>
	<string>很久很久以前，这是</string>
	<key>story_09</key>
	<string>很久很久以前，这是一</string>
	<key>story_010</key>
	<string>很久很久以前，这是一片</string>
	<key>story_011</key>
	<string>很久很久以前，这是一片被</string>
	<key>story_012</key>
	<string>很久很久以前，这是一片被邪</string>
	<key>story_013</key>
	<string>很久很久以前，这是一片被邪恶</string>
	<key>story_014</key>
	<string>很久很久以前，这是一片被邪恶控</string>
	<key>story_015</key>
	<string>很久很久以前，这是一片被邪恶控制</string>
	<key>story_016</key>
	<string>很久很久以前，这是一片被邪恶控制的</string>
	<key>story_017</key>
	<string>很久很久以前，这是一片被邪恶控制的大</string>
	<key>story_018</key>
	<string>很久很久以前，这是一片被邪恶控制的大陆</string>
	<key>story_0_total</key>
	<string>19</string>

	<key>story_10</key>
	<string>邪</string>
	<key>story_11</key>
	<string>邪恶</string>
	<key>story_12</key>
	<string>邪恶领</string>
	<key>story_13</key>
	<string>邪恶领主</string>
	<key>story_14</key>
	<string>邪恶领主与</string>
	<key>story_15</key>
	<string>邪恶领主与他</string>
	<key>story_16</key>
	<string>邪恶领主与他的</string>
	<key>story_17</key>
	<string>邪恶领主与他的九</string>
	<key>story_18</key>
	<string>邪恶领主与他的九个</string>
	<key>story_19</key>
	<string>邪恶领主与他的九个爪</string>
	<key>story_110</key>
	<string>邪恶领主与他的九个爪牙</string>
	<key>story_111</key>
	<string>邪恶领主与他的九个爪牙们</string>
	<key>story_112</key>
	<string>邪恶领主与他的九个爪牙们烧</string>
	<key>story_113</key>
	<string>邪恶领主与他的九个爪牙们烧杀</string>
	<key>story_114</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢</string>
	<key>story_115</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠</string>
	<key>story_116</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，</string>
	<key>story_117</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，无</string>
	<key>story_118</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，无恶</string>
	<key>story_119</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，无恶不</string>
	<key>story_120</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，无恶不作</string>
	<key>story_121</key>
	<string>邪恶领主与他的九个爪牙们烧杀抢掠，无恶不作。</string>
	<key>story_1_total</key>
	<string>22</string>

	<key>story_222</key>
	<string>光</string>
	<key>story_223</key>
	<string>光是</string>
	<key>story_224</key>
	<string>光是听</string>
	<key>story_225</key>
	<string>光是听到</string>
	<key>story_226</key>
	<string>光是听到他</string>
	<key>story_227</key>
	<string>光是听到他们</string>
	<key>story_228</key>
	<string>光是听到他们的</string>
	<key>story_229</key>
	<string>光是听到他们的名</string>
	<key>story_230</key>
	<string>光是听到他们的名字</string>
	<key>story_231</key>
	<string>光是听到他们的名字，</string>
	<key>story_232</key>
	<string>光是听到他们的名字，便</string>
	<key>story_233</key>
	<string>光是听到他们的名字，便叫</string>
	<key>story_234</key>
	<string>光是听到他们的名字，便叫人</string>
	<key>story_235</key>
	<string>光是听到他们的名字，便叫人不</string>
	<key>story_236</key>
	<string>光是听到他们的名字，便叫人不寒</string>
	<key>story_237</key>
	<string>光是听到他们的名字，便叫人不寒而</string>
	<key>story_238</key>
	<string>光是听到他们的名字，便叫人不寒而栗。。。</string>
	<key>story_2_total</key>
	<string>39</string>

	<key>story_30</key>
	<string>奇</string>
	<key>story_31</key>
	<string>奇迹</string>
	<key>story_32</key>
	<string>奇迹发</string>
	<key>story_33</key>
	<string>奇迹发生</string>
	<key>story_34</key>
	<string>奇迹发生了</string>
	<key>story_35</key>
	<string>奇迹发生了！</string>
	<key>story_36</key>
	<string>奇迹发生了！某</string>
	<key>story_37</key>
	<string>奇迹发生了！某一</string>
	<key>story_38</key>
	<string>奇迹发生了！某一天</string>
	<key>story_39</key>
	<string>奇迹发生了！某一天当</string>
	<key>story_310</key>
	<string>奇迹发生了！某一天当他</string>
	<key>story_311</key>
	<string>奇迹发生了！某一天当他们</string>
	<key>story_312</key>
	<string>奇迹发生了！某一天当他们醒</string>
	<key>story_313</key>
	<string>奇迹发生了！某一天当他们醒来</string>
	<key>story_314</key>
	<string>奇迹发生了！某一天当他们醒来，</string>
	<key>story_315</key>
	<string>奇迹发生了！某一天当他们醒来，竟</string>
	<key>story_316</key>
	<string>奇迹发生了！某一天当他醒来，竟然</string>
	<key>story_317</key>
	<string>奇迹发生了！某一天当他醒来，竟然统</string>
	<key>story_318</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统</string>
	<key>story_319</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变</string>
	<key>story_320</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成</string>
	<key>story_321</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了</string>
	<key>story_322</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手</string>
	<key>story_323</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无</string>
	<key>story_324</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚</string>
	<key>story_325</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚肌</string>
	<key>story_326</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚肌的</string>
	<key>story_327</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚肌的萌</string>
	<key>story_328</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚肌的萌物</string>
	<key>story_329</key>
	<string>奇迹发生了！某一天当他醒来，竟然统统变成了手无缚肌的萌物。。。</string>
	<key>story_3_total</key>
	<string>30</string>

	<key>story_40</key>
	<string>为</string>
	<key>story_41</key>
	<string>为了</string>
	<key>story_42</key>
	<string>为了夺</string>
	<key>story_43</key>
	<string>为了夺回</string>
	<key>story_44</key>
	<string>为了夺回令</string>
	<key>story_45</key>
	<string>为了夺回令人</string>
	<key>story_46</key>
	<string>为了夺回令人胆</string>
	<key>story_47</key>
	<string>为了夺回令人胆寒</string>
	<key>story_48</key>
	<string>为了夺回令人胆寒的</string>
	<key>story_49</key>
	<string>为了夺回令人胆寒的尊</string>
	<key>story_410</key>
	<string>为了夺回令人胆寒的尊严</string>
	<key>story_411</key>
	<string>为了夺回令人胆寒的尊严，</string>
	<key>story_412</key>
	<string>为了夺回令人胆寒的尊严，邪</string>
	<key>story_413</key>
	<string>为了夺回令人胆寒的尊严，邪恶</string>
	<key>story_414</key>
	<string>为了夺回令人胆寒的尊严，邪恶领</string>
	<key>story_415</key>
	<string>为了夺回令人胆寒的尊严，邪恶领主</string>
	<key>story_416</key>
	<string>为了夺回令人胆寒的尊严，邪恶领主，</string>
	<key>story_417</key>
	<string>为了夺回令人胆寒的尊严，邪恶领主，喵</string>
	<key>story_418</key>
	<string>为了夺回令人胆寒的尊严，邪恶领主，喵！</string>
	<key>story_4_total</key>
	<string>19</string>

	<key>story_519</key>
	<string>将</string>
	<key>story_520</key>
	<string>将带</string>
	<key>story_521</key>
	<string>将带邻</string>
	<key>story_522</key>
	<string>将带领他</string>
	<key>story_523</key>
	<string>将带领他的</string>
	<key>story_524</key>
	<string>将带领他的喵</string>
	<key>story_525</key>
	<string>将带领他的喵喵</string>
	<key>story_526</key>
	<string>将带领他的喵喵们</string>
	<key>story_527</key>
	<string>将带领他的喵喵们战</string>
	<key>story_528</key>
	<string>将带领他的喵喵们战胜</string>
	<key>story_529</key>
	<string>将带领他的喵喵们战胜正</string>
	<key>story_530</key>
	<string>将带领他的喵喵们战胜正义</string>
	<key>story_531</key>
	<string>将带领他的喵喵们战胜正义，</string>
	<key>story_532</key>
	<string>将带领他的喵喵们战胜正义，进</string>
	<key>story_533</key>
	<string>将带领他的喵喵们战胜正义，进军</string>
	<key>story_534</key>
	<string>将带领他的喵喵们战胜正义，进军地</string>
	<key>story_535</key>
	<string>将带领他的喵喵们战胜正义，进军地球</string>
	<key>story_536</key>
	<string>将带领他的喵喵们战胜正义，进军地球！</string>
	<key>story_5_total</key>
	<string>37</string>

	<key>story_2</key>
	<string>邪恶领主与他的9个爪牙们烧杀抢掠，无恶不作。光是听到他们\n的名字，便令人不寒而栗...</string>
	<key>story_3</key>
	<string>奇迹发生了！某一天当他们醒来，竟然统统变成了手无缚鸡的萌物...</string>
	<key>story_4</key>
	<string>为了夺回令人胆寒的尊严，邪恶领主.喵，将带领他的喽喽们战胜正义，进军地球！</string>
	<key>story_fnt_file</key>
	<string>storyBMPFont.fnt</string>
	<key>story_printing_delay</key>
	<string>0.5</string>
</dict>
</plist>
