<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>army.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,156},{94,90}}</string>
                <key>offset</key>
                <string>{423,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{856,327},{94,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{176,44}}</string>
                <key>offset</key>
                <string>{-200,264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,34},{176,44}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,104},{92,96}}</string>
                <key>offset</key>
                <string>{422,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{856,201},{92,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>event.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,248},{88,92}}</string>
                <key>offset</key>
                <string>{247,-258}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{683,532},{88,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,152}}</string>
                <key>offset</key>
                <string>{-246,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,130},{198,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,224},{78,86}}</string>
                <key>offset</key>
                <string>{-435,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,111},{78,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>miao.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{112,100}}</string>
                <key>offset</key>
                <string>{-420,263}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{112,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>others.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{92,94}}</string>
                <key>offset</key>
                <string>{362,-259}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{796,532},{92,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,198},{94,94}}</string>
                <key>offset</key>
                <string>{-246,-259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,532},{94,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,48},{174,44}}</string>
                <key>offset</key>
                <string>{201,264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,34},{174,44}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,144},{78,166}}</string>
                <key>offset</key>
                <string>{-441,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,223},{78,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{92,92}}</string>
                <key>offset</key>
                <string>{-361,-258}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,532},{92,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{168,48}}</string>
                <key>offset</key>
                <string>{0,264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,32},{168,48}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace74f5f8d83fc47115f837fff8a8b67$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
