<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_equip_big_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,192},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>ui_equip_big_ring_agi.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,136},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,839},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,705},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,779},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_pray.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,571},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_reborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,571},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,780},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_ring_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,132}</string>
            </dict>
            <key>ui_equip_big_scepter_cure.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,393},{193,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,176}}</string>
                <key>sourceSize</key>
                <string>{193,176}</string>
            </dict>
            <key>ui_equip_big_scepter_disaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,402},{164,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,192}}</string>
                <key>sourceSize</key>
                <string>{164,192}</string>
            </dict>
            <key>ui_equip_big_scepter_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,796},{198,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>ui_equip_big_scepter_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{146,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,197}}</string>
                <key>sourceSize</key>
                <string>{146,197}</string>
            </dict>
            <key>ui_equip_big_scepter_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{156,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{156,186}</string>
            </dict>
            <key>ui_equip_big_scepter_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,201},{178,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,190}}</string>
                <key>sourceSize</key>
                <string>{178,190}</string>
            </dict>
            <key>ui_equip_big_scepter_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{166,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,197}}</string>
                <key>sourceSize</key>
                <string>{166,197}</string>
            </dict>
            <key>ui_equip_big_scepter_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{166,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,188}}</string>
                <key>sourceSize</key>
                <string>{166,188}</string>
            </dict>
            <key>ui_equip_big_scepter_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{173,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,194}}</string>
                <key>sourceSize</key>
                <string>{173,194}</string>
            </dict>
            <key>ui_equip_big_scepter_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,199}}</string>
                <key>sourceSize</key>
                <string>{164,199}</string>
            </dict>
            <key>ui_equip_big_scepter_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{162,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,196}}</string>
                <key>sourceSize</key>
                <string>{162,196}</string>
            </dict>
            <key>ui_equip_big_scepter_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,596},{188,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>ui_equip_small_grey_ring_agi.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,188},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,95},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,921},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,828},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_pray.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,735},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_reborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,642},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,549},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_ring_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_cure.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,646},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_disaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,820},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,465},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,504},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,320},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,136},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,229},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,905},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,732},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,373},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,91},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>ui_equip_small_grey_scepter_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,705},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>ui_equip_small_ring_agi.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,456},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,363},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,549},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,136},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,456},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_pray.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,270},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_reborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,363},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,270},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_ring_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,913},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_scepter_cure.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,557},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>ui_equip_small_scepter_disaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,735},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>ui_equip_small_scepter_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,411},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>ui_equip_small_scepter_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,411},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>ui_equip_small_scepter_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,229},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>ui_equip_small_scepter_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,914},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_scepter_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,914},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_equip_small_scepter_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,905},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>ui_equip_small_scepter_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,646},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>ui_equip_small_scepter_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,281},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>ui_equip_small_scepter_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>ui_equip_small_scepter_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,705},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equip.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c388161982287b127846cde9ad7e89e6:d31637f186dc5d858c8c3884563b116f:21abbdd512b09f5d114ec3c8b6994594$</string>
            <key>textureFileName</key>
            <string>ui_equip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
