<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_s10_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,765},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>ame_s10_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1079},{126,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,103}}</string>
                <key>sourceSize</key>
                <string>{126,103}</string>
            </dict>
            <key>ame_s10_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1289},{126,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{126,102}</string>
            </dict>
            <key>ame_s10_a_dart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,504},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>ame_s10_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,765},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>ame_s10_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1626},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>ame_s10_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,658},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>ame_s1_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,872},{68,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{68,102}</string>
            </dict>
            <key>ame_s1_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,872},{68,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{68,102}</string>
            </dict>
            <key>ame_s1_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1393},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>ame_s1_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,872},{68,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{68,102}</string>
            </dict>
            <key>ame_s1_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1064},{68,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{68,102}</string>
            </dict>
            <key>ame_s1_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,959},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,103}</string>
            </dict>
            <key>ame_s1_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1184},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,103}</string>
            </dict>
            <key>ame_s2_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,284},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>ame_s2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1184},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>ame_s2_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1495},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>ame_s2_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,284},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>ame_s2_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{116,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,105}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>ame_s3_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1313},{143,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{143,136}</string>
            </dict>
            <key>ame_s3_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1894},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>ame_s3_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,566},{217,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,156}}</string>
                <key>sourceSize</key>
                <string>{217,156}</string>
            </dict>
            <key>ame_s3_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1897},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>ame_s3_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1313},{143,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{143,136}</string>
            </dict>
            <key>ame_s3_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1295},{144,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,135}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>ame_s3_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,566},{135,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>ame_s3_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1892},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>ame_s4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1739},{89,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,175}}</string>
                <key>sourceSize</key>
                <string>{89,175}</string>
            </dict>
            <key>ame_s4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1138},{124,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,173}}</string>
                <key>sourceSize</key>
                <string>{124,173}</string>
            </dict>
            <key>ame_s4_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1451},{175,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{175,171}</string>
            </dict>
            <key>ame_s4_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,109},{113,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,173}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>ame_s4_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1739},{89,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,175}}</string>
                <key>sourceSize</key>
                <string>{89,175}</string>
            </dict>
            <key>ame_s4_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1739},{106,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,174}}</string>
                <key>sourceSize</key>
                <string>{106,174}</string>
            </dict>
            <key>ame_s4_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1451},{88,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,173}}</string>
                <key>sourceSize</key>
                <string>{88,173}</string>
            </dict>
            <key>ame_s4_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,392},{112,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,172}}</string>
                <key>sourceSize</key>
                <string>{112,172}</string>
            </dict>
            <key>ame_s5_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1393},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>ame_s5_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1592},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>ame_s5_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1288},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>ame_s5_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,566},{128,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>ame_s5_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,872},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>ame_s5_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1393},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>ame_s5_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1064},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>ame_s5_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1168},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>ame_s5_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,623},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ame_s6_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1915},{77,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,131}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>ame_s6_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1916},{74,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>ame_s6_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1916},{84,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,130}}</string>
                <key>sourceSize</key>
                <string>{84,130}</string>
            </dict>
            <key>ame_s6_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1915},{77,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,131}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>ame_s6_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1005},{74,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,131}}</string>
                <key>sourceSize</key>
                <string>{74,131}</string>
            </dict>
            <key>ame_s6_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,566},{74,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,132}}</string>
                <key>sourceSize</key>
                <string>{74,132}</string>
            </dict>
            <key>ame_s6_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1005},{84,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,128}}</string>
                <key>sourceSize</key>
                <string>{84,128}</string>
            </dict>
            <key>ame_s7_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1486},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>ame_s7_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1380},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>ame_s7_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1260},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>ame_s7_a_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,504},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>ame_s7_a_fx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,504},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>ame_s7_a_fx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,504},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>ame_s7_a_fx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,504},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>ame_s7_a_fx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,536},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>ame_s7_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1486},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>ame_s7_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1156},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>ame_s7_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,976},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>ame_s7_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,976},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>ame_s8_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,844},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>ame_s8_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,963},{85,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,116}}</string>
                <key>sourceSize</key>
                <string>{85,116}</string>
            </dict>
            <key>ame_s8_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,844},{86,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,113}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>ame_s8_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,844},{85,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,117}}</string>
                <key>sourceSize</key>
                <string>{85,117}</string>
            </dict>
            <key>ame_s8_a_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,504},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>ame_s8_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,844},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>ame_s8_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,713},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>ame_s8_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,962},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,115}</string>
            </dict>
            <key>ame_s8_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1624},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,106}</string>
            </dict>
            <key>ame_s9_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1732},{142,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,160}}</string>
                <key>sourceSize</key>
                <string>{142,160}</string>
            </dict>
            <key>ame_s9_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1731},{169,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,159}}</string>
                <key>sourceSize</key>
                <string>{169,159}</string>
            </dict>
            <key>ame_s9_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1135},{142,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,158}}</string>
                <key>sourceSize</key>
                <string>{142,158}</string>
            </dict>
            <key>ame_s9_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1732},{142,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,160}}</string>
                <key>sourceSize</key>
                <string>{142,160}</string>
            </dict>
            <key>ame_s9_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,566},{144,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,157}}</string>
                <key>sourceSize</key>
                <string>{144,157}</string>
            </dict>
            <key>ame_s9_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1734},{142,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,161}}</string>
                <key>sourceSize</key>
                <string>{142,161}</string>
            </dict>
            <key>ame_s9_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,844},{142,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,159}}</string>
                <key>sourceSize</key>
                <string>{142,159}</string>
            </dict>
            <key>boss_3_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1451},{224,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,286}}</string>
                <key>sourceSize</key>
                <string>{224,286}</string>
            </dict>
            <key>boss_3_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1754},{270,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,291}}</string>
                <key>sourceSize</key>
                <string>{270,291}</string>
            </dict>
            <key>boss_3_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{254,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,297}}</string>
                <key>sourceSize</key>
                <string>{254,297}</string>
            </dict>
            <key>boss_3_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1167},{230,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,292}}</string>
                <key>sourceSize</key>
                <string>{230,292}</string>
            </dict>
            <key>boss_3_a_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,504},{226,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,45}}</string>
                <key>sourceSize</key>
                <string>{226,45}</string>
            </dict>
            <key>boss_3_a_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{335,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,60}}</string>
                <key>sourceSize</key>
                <string>{335,60}</string>
            </dict>
            <key>boss_3_a_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,623},{435,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,89}}</string>
                <key>sourceSize</key>
                <string>{435,89}</string>
            </dict>
            <key>boss_3_a_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,504},{538,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,117}}</string>
                <key>sourceSize</key>
                <string>{538,117}</string>
            </dict>
            <key>boss_3_a_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,725},{538,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,117}}</string>
                <key>sourceSize</key>
                <string>{538,117}</string>
            </dict>
            <key>boss_3_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1451},{224,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,286}}</string>
                <key>sourceSize</key>
                <string>{224,286}</string>
            </dict>
            <key>boss_3_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,566},{281,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,276}}</string>
                <key>sourceSize</key>
                <string>{281,276}</string>
            </dict>
            <key>boss_3_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,855},{236,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,281}}</string>
                <key>sourceSize</key>
                <string>{236,281}</string>
            </dict>
            <key>boss_3_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1162},{255,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,287}}</string>
                <key>sourceSize</key>
                <string>{255,287}</string>
            </dict>
            <key>boss_4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{212,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,293}}</string>
                <key>sourceSize</key>
                <string>{212,293}</string>
            </dict>
            <key>boss_4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1461},{284,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,291}}</string>
                <key>sourceSize</key>
                <string>{284,291}</string>
            </dict>
            <key>boss_4_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{274,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{274,300}</string>
            </dict>
            <key>boss_4_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1761},{281,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,285}}</string>
                <key>sourceSize</key>
                <string>{281,285}</string>
            </dict>
            <key>boss_4_a_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,504},{101,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,44}}</string>
                <key>sourceSize</key>
                <string>{101,44}</string>
            </dict>
            <key>boss_4_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{212,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,293}}</string>
                <key>sourceSize</key>
                <string>{212,293}</string>
            </dict>
            <key>boss_4_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{208,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,297}}</string>
                <key>sourceSize</key>
                <string>{208,297}</string>
            </dict>
            <key>boss_4_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,868},{215,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,292}}</string>
                <key>sourceSize</key>
                <string>{215,292}</string>
            </dict>
            <key>boss_4_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,566},{217,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,287}}</string>
                <key>sourceSize</key>
                <string>{217,287}</string>
            </dict>
            <key>west_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,500}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,500}}</string>
                <key>sourceSize</key>
                <string>{1920,640}</string>
            </dict>
            <key>美系-小怪-10-忍者神龟.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1624},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>west.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c547fcfd9b7e0dca06f59b91198fe15d:bb021e8cf2324537d3338ff407b9bb17:02013fcfac295e4eca0a235e185c55ac$</string>
            <key>textureFileName</key>
            <string>west.pvr.ccz</string>
        </dict>
    </dict>
</plist>
